body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-hide {
   text-indent: -500%;
   white-space: nowrap;
   overflow: hidden;
}

.site-wrapper {
    width: 1200px;
    margin: 0 auto;
    
    background-color: #ffffff;
    background-position: top center;
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
            box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
}

.site-wrapper a {
    text-decoration: none;
}

.main-header {
    min-height: 564px;

    background-image: url("../img/intro-text.png"), url("../img/background-photo.jpg");
    background-size: auto, auto;
    background-position: center 132px, top left;
    background-repeat: no-repeat, no-repeat;
    background-color: #596e84;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
}

.main-header-logo img {
    width: 138px;
    height: 70px;
}

.site-navigation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
    list-style: none;
}

.site-navigation li {
    width: 168px;
    padding-top: 14px;
    padding-bottom: 16px;
}

.site-navigation .site-navigation-current {
    color: #d1cbc7;
}

.site-navigation-left {
    padding-left: 72px;
    
    text-align: left;
}

.site-navigation-margin {
    margin-right: 240px;
}

.site-navigation-right {
    padding-right: 72px;
    
    text-align: right;
}

.site-navigation a {
    display: inline-block;
    
    vertical-align: middle; 
    color: #000000;  
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-header::after {
    content: "";

    position: absolute;
    top: 507px;

    width: 1200px;
    height: 57px;

    background-image: url("../img/pseudo.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sedona-info {
    width: 442px;
    margin: 0 auto;
    margin-bottom: 27px;
    padding-top: 60px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.features-text {
    margin-bottom: 51px;

    line-height: 26px;
    text-align: center;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.feature-item {
    text-align: center;
}

.feature-item-text {
    width: 400px;
    padding-top: 47px;
    padding-bottom: 59px;
}

.feature-item h3 {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 24px;
    
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.feature-number {
    margin-bottom: 21px;
}

.feature-item-description {
    width: 280px;
    margin: 0 auto;
}

.feature-item img {
    width: 800px;
    height: 256px;
}

.feature-item-blue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    color: #ffffff;

    background-color: #81b3d2;
}

.feature-item-blue h3 {
    color: #ffffff
}

.feature-item-blue .feature-item-description {
    width: 310px;
}

.feature-extra {
    position: relative;
    
    padding-top: 161px;
    padding-bottom: 82px;
}

.feature-extra-first::before {
    content: "";

    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 60px;
    left: 50%;

    width: 75px;
    height: 72px;

    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #ffffff;
}

.feature-extra-second::before {
    content: "";

    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 61px;
    left: 198px;

    width: 74px;
    height: 70px;

    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #ffffff;
}

.feature-extra-third::before {
    content: "";

    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 56px;
    left: 50%;

    width: 64px;
    height: 76px;

    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #ffffff;
}

.feature-extra .feature-item-description {
    width: 315px;
    margin: 0 auto;
}

.feature-item-gray {
    color: #333333;

    background-color: #eeeeee;
}

.searching {
    position: relative;
    z-index: 5;
    
    text-align: center;
}

.searching-text {
    display: inline-block;
    margin-bottom: 24px;
    padding-top: 50px;
    
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    vertical-align: middle;
    color: #000000;
}

.searching-info {
    margin: 0;
    margin-bottom: 47px;

    line-height: 24px;
}

.button {
    display: inline-block;
    
    font: inherit;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;

    border: none;
}

.button-brown {
    color: #ffffff;

    background-color: #766357;
}

.button-brown:hover {
    color: #ffffff;

    background-color: #604e43;
}

.button-brown:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #503e33;
}

.button-search {
    position: relative;
    z-index: 5;
    padding: 30px 139px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

@-webkit-keyframes bounce {
    0% { z-index: -1; opacity: 0; -webkit-transform: translateY(-86px); transform: translateY(-86px); }
    100% { z-index: 3; opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes bounce {
    0% { z-index: -1; opacity: 0; -webkit-transform: translateY(-86px); transform: translateY(-86px); }
    100% { z-index: 3; opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
}

.modal {
    -webkit-animation: bounce 1s;
            animation: bounce 1s;
}

.searching-form {
    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 568px;
    margin: 0 auto;
    padding: 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    -webkit-box-shadow: 0 0 15px 7px rgba(0, 1, 1, 0.15);
            box-shadow: 0 0 15px 7px rgba(0, 1, 1, 0.15);
    background-color: #ffffff;
}

.modal-change {
    display: none;  
}

.searching-form input[type="text"] {
    font: inherit;
    line-height: inherit;
    color: inherit;

    background-color: #f2f2f2;
    border: none;
}

.searching-form input[type="text"]:hover {
    color: #000000;

    background-color: #ebebeb;
}

.searching-form input[type="text"]:focus {
    color: #000000;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.searching-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0;
    margin-bottom: 29px;
    
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #000000;
}

.searching-item-full-width {
    position: relative;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    
    width: 100%;
}

.searching-item-full-width input {
    display: inline-block;
    width: 346px;
    min-height: 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 6px 14px;
    padding-right: 30px;
    margin-left: auto;
    
    vertical-align: middle;
    text-transform: inherit;
}

.button-calendar {
    position: absolute;
    right: 9px;
    top: 8px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 21px;
    height: 22px;
    padding: 0;

    background-color: transparent;
    border: none;
    fill: #cacaca;
}

.button-calendar-text {
    display: inline-block;
    
    vertical-align: middle;
}

.button-calendar:hover .svg-calendar {
    fill: #000000;
}

.button-calendar:active .svg-calendar {
    fill: #81b3d2;
}

.searching-adults label {
    display: inline-block;
    margin-right: 40px;
    
    vertical-align: middle;
}

.searching-adults input {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 38px;
    min-height: 38px;
    padding: 6px 0;
    
    text-align: center;
    vertical-align: middle;
}

.searching-children {
    margin-left: auto;
    margin-bottom: 55px;
}

.searching-children label {
    display: inline-block;
    margin-right: 27px;
    
    vertical-align: middle;
}

.searching-children input {
    display: inline-block;
    width: 38px;
    min-height: 38px;
    padding: 6px 0;
    
    vertical-align: middle;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.button-change {
    position: relative;
    
    display: inline-block;
    width: 38px;
    height: 38px;
    
    vertical-align: middle; 
    color: #a9a9a9;

    background-color: #f2f2f2;
}

.button-change-minus::before,
.button-change-plus::before,
.button-change-plus::after {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    
    width: 12px;
    height: 3px;
    
    background-color: #a9a9a9;
}

.button-change-plus::after {
    width: 3px;
    height: 12px;
}

.button-change-minus:hover::before,
.button-change-plus:hover::before,
.button-change-plus:hover::after {
    background-color: #000000;
}

.button-change-minus:active::before,
.button-change-plus:active::before,
.button-change-plus:active::after {
    background-color: #81b3d2;
}

.button-find {
    padding: 16px 196px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: inherit;
}

.button-blue {
    color: #ffffff;

    background-color: #81b3d2;
}

.button-blue:hover {
    color: #ffffff;

    background-color: #669ec0;
}

.button-blue:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #5496bd;
}

.map {
    height: 594px;
}

.map-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 593px;
}

.map img {
    width: 1200px;
    height: 594px;
}

.container-hotels {
    padding: 0;
}

.filter-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 27px 72px;
    padding-bottom: 6px;
    
    color: #ffffff;

    background-color: #ffffff;
    background-image: url("../img/filter-background.jpg");
    background-position: 0 -50px;
    background-repeat: no-repeat;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-right: 118px;
    
    border: none;
}

.filter legend {
    margin-bottom: 25px;
    
    font-size: 16px;
    font-weight: 700;
}

.filter ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.filter-option {
    margin-bottom: 25px;
    padding-left: 40px;
}

.filter-option:focus {
    outline: 2px solid #81b3d2;
}

.filter-option label {
    position: relative;
    
    display: inline-block; 
    
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input + label::before {
    content: "";
    
    position: absolute;
    left: -40px;
    top: -1px;
    
    width: 23px;
    height: 23px;
    
    background-image: url("../img/checkbox-off.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filter-input:checked + label::before {
    content: "";
    
    position: absolute;
    left: -40px;
    top: -1px;
    
    width: 27px;
    height: 23px;
    
    background-image: url("../img/checkbox-on.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #ffffff;
    outline: 2px solid #81b3d2;
}


.filter-input:disabled + label {
    opacity: 0.2;
}

.filter-range {
    width: 318px;
    margin-left: auto;
}

.filter-range-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 16px;
}

.price-controls {
    position: relative;
    
    padding: 5px 0;
    padding-left: 65px;
    margin-bottom: 19px;
    
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    padding: 0;
    
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;

    cursor: pointer;
}

.price-controls .min-price {
    margin-right: 76px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    
    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.button-transparent {
    display: inline-block;
    margin-left: 85px;
    padding: 6px 34px;

    vertical-align: middle;
    color: #ffffff;
    text-transform: inherit;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.button-transparent:hover {
    color: #000000;

    background: #ffffff;
}

.booking-sorting-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 30px;
    
    border-bottom: 1px solid #e3e3e3;
}

.booking-text {
    width: 135px;
    padding-left: 73px;
    margin-right: 30px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting-text {
    width: 91px;
    margin-right: 22px;
    
    font-size: 12px;
    line-height: 18px;
}

.booking-sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    
    font-size: 12px;
    line-height: 18px;

    list-style: none;
}

.booking-sorting-list a {
    display: inline-block;
    margin-right: 33px;
    
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.3);

    border-bottom: 1px dotted #81b3d2;
}

.booking-sorting-list a:hover {
    color: #81b3d2;
}

.booking-sorting-list a:active {
    color: #000000;

    border: none;
}

.booking-sorting-item .choosen {
    color: #81b3d2;
    border: none;
}

.booking-sorting-choose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 36px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-right: 73px;
    margin-left: auto;
    
    list-style: none;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    
    vertical-align: middle;
    border: 10px solid #cacaca;
    border-left-color: transparent;
    border-left-width: 6px;
    border-right-color: transparent;
    border-right-width: 6px;
    color: transparent;
}

.arrow-top {
    border-top: 0;
}

.arrow-top:hover {
    border-bottom-color: #000000;
}

.arrow-top:active {
    border-bottom-color: #81b3d2;
}

.arrow-down {
    border-bottom: 0;
}

.arrow-down:hover {
    border-top-color: #000000;
}

.arrow-down:active {
    border-top-color: #81b3d2;
}

.arrow-choosen {
    border-top-color: #81b3d2;
}

.booking-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.booking-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 73px;
    padding-top: 25px;
    
    border-bottom: 1px solid #e3e3e3;
}

.booking-list img {
    display: inline-block;
    width: 135px;
    height: 90px;
    margin-top: 5px;
    
    vertical-align: middle;
}

.booking-item-info {
    width: 265px;
    margin-left: 30px;
}

.booking-list h3 {
    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.booking-list h3:hover {
    color: #81b3d2;
}

.booking-list h3:active {
    color: rgba(0, 0, 0, 0.3);
}

.booking-item-info p {
    margin-top: 6px;
    margin-bottom: 14px;
}

.booking-kind {
    display: inline-block;
    min-width: 110px;
    
    vertical-align: middle;
}

.button-item {
    padding: 3px 16px;
    margin-right: 4px;
}

.booking-item-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
}

.booking-item-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 110px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.booking-item-option label {
    position: relative;
    
    display: inline-block;
    
    vertical-align: middle;
    cursor: pointer;
}

.booking-item-option-text {
    display: inline-block;
    width: 18px;
    
    vertical-align: middle;
}

.icon-star:checked + label::before {
    content: "";
    
    position: absolute;
    top: 4px;
    right: 0;
    
    width: 18px;
    height: 17px;
    
    background-image: url("../img/star.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.booking-item-rate {
    margin: 0;
    padding: 3px 13px;
    
    text-align: center;
    
    background-color: #f2f2f2;
}

.main-footer {
    position: relative;
    
    text-align: center;
}

.footer-content-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 27px 73px;
    padding-top: 25px;
    
    background-color: rgba(255, 255, 255, 0.7);
}

.footer-hotels-content-wrapper {
    position: static;
    
    background-color: #ffffff;
}

.footer-hashtag {
    display: inline-block;
    width: 134px;
    margin: 0;
    margin-right: 257px;
    margin-left: 60px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    vertical-align: middle;
    color: #000000;
}

.footer-social {
    margin-right: 229px;
}

.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    
    list-style: none;
}

.social-button {
    position: relative;
    
    display: inline-block;
    width: 48px;
    height: 48px;
    
    vertical-align: middle;
    
    background-color: #81b3d2;
}

.social-button-twitter::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 46px;
    height: 48px;
    
    background-image: url("../img/twitter.svg");
    background-position: 50%;
    background-repeat: no-repeat;
}

.social-button-facebook::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 46px;
    height: 48px;
    
    background-image: url("../img/fb-icon.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.social-button-youtube::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 46px;
    height: 48px;
    
    background-image: url("../img/youtube.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active::before {
    opacity: 0.3;
}

.footer-web {
    display: inline-block;
    
    vertical-align: middle;
}

.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 196px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.button-academy {
    display: inline-block;
    width: 115px;
    height: 41px;
    
    vertical-align: middle;
}

.button-academy:hover .svg-academy {
    fill: #81b3d2;
}

.button-academy:active .svg-academy {
    fill: #000000;
    opacity: 0.5;
}