body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

.site-wrapper {  
    width: 1200px;
    margin: 0 auto;
    
    background-color: #ffffff;
    background-position: top center;
    box-shadow: 0 0 15px 5px rgba(0,1,1,0.2);
}

a {
    text-decoration: none;
}

.main-header-logo img {
    width: 138px;
    height: 70px;
}

.main-header {   
    margin-bottom: 62px;
    min-height: 625px;
    
    background-image: url("../img/intro-text.png"), url("../img/background-photo.jpg");
    background-size: auto, auto;
    background-position: center 132px, top left;
    background-repeat: no-repeat, no-repeat;   
}

.site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    
    background-color: #ffffff;
    list-style: none;
}

.site-navigation li {
    width: 237px;
}

.site-navigation-left {
    text-align: left;
    padding-left: 73px;
}

.site-navigation-right {
    text-align: right;
    margin-right: 73px;
    
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0,0,0,0.3);
}

.site-navigation .site-navigation-current {
    color: #d1cbc7;
}

.sedona-info {
    width: 442px;
    margin: 0 auto;
    margin-bottom: 36px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.features-text {
    margin: 0 auto;
    margin-bottom: 55px;
    
    line-height: 26px;
    text-align: center;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 57px;
    
    list-style: none;
}

.feature-item {
    text-align: center;
}

.feature-item h3 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.feature-item-blue {
    display: flex;
    color: #ffffff;
    
    background-color: #81b3d2;
}

.feature-item-blue h3 {
    color: #ffffff
}

.feature-item img {
    width: 800px;
    height: 256px;
}

.feature-item-text {
    width: 400px;
}

.feature-item-gray {
    color: #333333;
    
    background-color: #eeeeee;
}

.searching {
    width: 568px;
    margin: 0 auto;
    
    text-align: center;
}

.searching-text {
    margin-bottom: 30px;
    
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.searching-info {
    margin-bottom: 50px;
    
    line-height: 24px;
}

.searching-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 56px;
    box-shadow: 0 0 15px 7px rgba(0,1,1,0.15);
}
.button {
    font: inherit;
    text-align: center;
    vertical-align:: middle;
    color: #ffffff;
    
    border: none;
}

.button-search {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.button-blue {  
    color: #ffffff;
    
    background-color: #81b3d2;
}

.button-blue:hover {
    color: #ffffff;
    
    background-color: #669ec0;
}

.button-blue:active {
    color: rgba(0,0,0,0.3);
    
    background-color: #5496bd;
}

.button-brown {
    color: #ffffff;
    
    background-color: #766357;
}

.button-brown:hover {
    color: #ffffff;
    
    background-color: #604e43;
}

.button-brown:active {
    color: rgba(0,0,0,0.3);
    
    background-color: #503e33;
}

.searching-item {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.searching-form input[type="text"],
.searching-form input[type="number"] {
    font: inherit;
    line-height: inherit;
    color: inherit;
    
    background-color: #f2f2f2;
    border: none;
}

.searching-form input[type="text"]:hover {
    color: #000000;
        
    background-color: #ebebeb;
}

.searching-form input[type="text"]:focus {
    color: #000000;
    
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.searching-form input[type="number"] {
    text-align: center;
}

.button-change {
    color: #a9a9a9;
    
    background-color: #f2f2f2;
}

.button-change:hover {
    color: #000000;
}

.button-change:active {
    color: #81b3d2;
}

.map img{
    width: 1200px;
    height: 594px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 73px;
}

.footer-hashtag {
    width: 240px;
    margin: 0px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.footer-social {
    width: 150px;
    text-align: center;
}

.footer-social ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-button {
    color: #ffffff;
    
    background-color: #81b3d2;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.footer-copyright {
    width: 240px;
    margin: 0;
    text-align: center;
}

.button-academy {
    color: #231f20;
}

.button-academy:hover {
    color: #81b3d2;
}

.button-academy:active {
    color: #bdbbbc;
}

.filter-form {
    display: flex;
    color: #ffffff;
    
    background-color: #ffffff;
    background-image: url("../img/filter-background.jpg");
}

.filter fieldset {
    width: 167px;
    padding-left: 73px;
    border: none;
}

.filter legend {
    font-size: 16px;
    font-weight: 700;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-input:hover + label {
    color: #ffffff;
}

.filter-input:disabled + label {
    color: #6a6a6a;
}

.booking-sorting-filter {
    display: flex;
    align-items: flex-end;
    padding-top: 34px;
    padding-bottom: 36px;
    border-bottom: 1px solid #e3e3e3;
}

.booking-text {
    width: 135px;
    padding-left: 73px;
    margin-right: 30px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting-text {
    width: 91px;
    margin-right: 25px;
    font-size: 12px;
    line-height: 18px;
}

.booking-sorting-list {
    width: 240px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;

    list-style: none;
}

.booking-sorting-list a {
    color: rgba(0,0,0,0.3);
    
    border-bottom: 1px dashed #81b3d2;
}

.booking-sorting-item .choosen {
    color: #81b3d2;
    border: none;
}

.booking-sorting-list a:hover {
    color: #81b3d2;
}

.booking-sorting-list a:active {
    color: #000000;
    
    border: none;
}

.booking-sorting-choose {
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 73px;
    margin-left: auto;
    list-style: none;
}

.booking-sorting-choose a {
    background-color: #cacaca;
}

.booking-sorting-choose a:hover {
    background-color: #000000;
}

.booking-sorting-choose a:active {
    background-color: #81b3d2;
}

.booking-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.booking-item {
    display: flex;
    padding: 30px 73px;
    border-bottom: 1px solid #e3e3e3;
}

.booking-item-info {
    width: 258px;
    margin-left: 35px;
}

.booking-list h3 {
    margin: 0;
    padding: 0;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.booking-list h3:hover {
    color: #81b3d2;
}

.booking-list h3:active {
    color: rgba(0,0,0,0.3);
}

.booking-list img {
    width: 135px;
    height: 90px;
}

.booking-item-rate {
    width: 111px;
    margin: 0;
    margin-left: auto;
    align-self: flex-end;
    background-color: #f2f2f2;
}
















